/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html,
body {
  max-width: 100%;
  font-size: 62.5%;
  font-size: 1rem;
}
html {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 4rem;
}
a,
h2,
h3,
h4 {
  font-size: 2rem;
}
P {
  font-size: 1.5rem;
}
body {
  border: 1px #a5da95 solid;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  padding: 2% 2% 2% 2%;
  background: #a5da95;
  border-top: 1.5px #8de08d solid;
  border-bottom: 1.5px #8de08d solid;
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
header nav a {
  text-decoration: none;
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1.2rem;
  }
}
section.intro,
.skill {
  display: flex;
  width: 93%;
  margin: 0 3% 3% 3%;
  padding: 0 3% 3% 3%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px #a5da95 dashed;
}
@media (max-width: 500px) {
  section.intro,
  .skill {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 500px) {
  section.intro,
  .skill {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  section.intro,
  .skill {
    width: 100%;
  }
  section.intro h1,
  .skill h1,
  section.intro h2,
  .skill h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2%;
    margin: 2%;
  }
}
section.intro .left,
.skill .left {
  width: 30%;
  max-width: 100%;
}
@media (max-width: 500px) {
  section.intro .left,
  .skill .left {
    width: 100%;
  }
  section.intro .left h1,
  .skill .left h1 {
    width: 100%;
    font-size: 2.2rem;
  }
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1% ;
}
.right h1 {
  text-align: left;
  font-size: 3rem;
  padding: 2% 0 2% 0;
}
@media (max-width: 500px) {
  .right h1 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
.right h2 {
  text-align: left;
  font-size: 2rem;
  padding: 6% 0 3% 0 ;
}
@media (max-width: 500px) {
  .right h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 500px) {
  .right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.right p {
  padding: 0 0 1% 0;
}
@media (max-width: 500px) {
  .right h1,
  .right h2,
  .right p {
    width: 90%;
    align-items: center;
    padding: 1% 0;
    margin: 2%;
    text-align: center;
    vertical-align: middle;
  }
  .right h1 {
    font-size: 3rem;
  }
  .right h2 {
    font-size: 1.3rem;
    text-transform: lowercase;
    font-weight: bold;
  }
  .right p {
    font-size: 1.3rem;
    padding: 0.5rem 0px;
    margin: 1rem 0;
  }
}
.Portfolio {
  display: flex;
  width: 93%;
  margin: 0 3% 3% 3%;
  padding: 0 3% 3% 3%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px #a5da95 dashed;
  flex-direction: column;
}
@media (max-width: 500px) {
  .Portfolio {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.Portfolio h1 {
  text-align: left;
  font-size: 3rem;
  padding: 2% 0 2% 0;
}
@media (max-width: 500px) {
  .Portfolio h1 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
.Portfolio h2 {
  text-align: left;
  font-size: 2rem;
  padding: 6% 0 3% 0 ;
}
@media (max-width: 500px) {
  .Portfolio h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
.Portfolio h1,
.Portfolio h2,
.Portfolio h3 {
  text-align: center;
}
@media (max-width: 500px) {
  .Portfolio {
    margin: 2%;
  }
  .Portfolio h1,
  .Portfolio h2,
  .Portfolio p {
    width: 100%;
    align-items: center;
    padding: 1% 0;
    margin: 2%;
    text-align: center;
    vertical-align: middle;
  }
  .Portfolio h2 {
    font-size: 1.3rem;
    text-transform: lowercase;
    font-weight: bold;
  }
  .Portfolio h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .Portfolio p {
    font-size: 1.1rem;
  }
  .Portfolio img {
    width: 100%;
  }
  .Portfolio .PortfolioSet {
    margin: 2%;
    padding: 2%;
    border-bottom: 1px #a5da95 dashed;
    border-top: 1px #a5da95 dashed;
  }
}
.WorkHistory {
  display: flex;
  width: 93%;
  margin: 0 3% 3% 3%;
  padding: 0 3% 3% 3%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px #a5da95 dashed;
  flex-direction: column;
}
@media (max-width: 500px) {
  .WorkHistory {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.WorkHistory h1 {
  font-size: 3rem;
  padding: 2% 0 2% 0;
}
@media (max-width: 500px) {
  .WorkHistory {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .WorkHistory h1,
  .WorkHistory h2,
  .WorkHistory p {
    width: 100%;
    font-size: 2.2rem;
    align-items: center;
    padding: 1% 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }
}
.contactinfo {
  display: flex;
  width: 93%;
  margin: 0 3% 3% 3%;
  padding: 0 3% 3% 3%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px #a5da95 dashed;
  flex-direction: column;
}
@media (max-width: 500px) {
  .contactinfo {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.contactinfo h1 {
  text-align: left;
  font-size: 3rem;
  padding: 2% 0 2% 0;
}
@media (max-width: 500px) {
  .contactinfo h1 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
.contactinfo h2 {
  text-align: left;
  font-size: 2rem;
  padding: 6% 0 3% 0 ;
}
@media (max-width: 500px) {
  .contactinfo h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 500px) {
  .contactinfo h1,
  .contactinfo h2,
  .contactinfo p,
  .contactinfo span {
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    padding: 1% 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
@media (max-width: 500px) {
  table {
    border-bottom: 1px solid #ddd;
  }
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  td,
  th {
    align-items: center;
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0.85rem;
  }
}
